description {
    display: none;
}

format {
    display: none;
}

example-image {
    display: none;
}

transcription {
    display: none;
}

img-alt {
    display: none;
}

pre, code {
    white-space: pre-line;
}
