<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transcription Templates from TranscribersOfReddit</title>
    <script src="../static/vendored/tabler.min.js" defer></script>
    <link rel="stylesheet" href="../static/vendored/tabler.min.css">
    <script src="../static/my.js" defer></script>
    <link rel="stylesheet" href="../static/my.css">
    <script src="../static/vendored/toastify.min.js" defer></script>
    <link rel="stylesheet" href="../static/vendored/toastify.min.css">
</head>

<body>

<description>
    <ul>
        <li>
            The chevrons (<code>></code>) in greentext are actual chevrons, and not markdown versions to show a reply.
            They need to
            be escaped with a backslash: <code>\></code>
        </li>
        <li>
            If a post or comment is talking about "dubs" or "trips," this refers to the last few digits of the post
            number: two repeating numbers in a row are "dubs," and three are "trips."
        </li>
        <li>
            Only include the timestamp if it is relevant to the post.
        </li>
        <li>
            When writing the username and timestamp headers in Greentext threads, **only** include the date if either
            changes.
        </li>
        <li>
            Time is written in 24h style.
        </li>
        <li>
            Please format the date in whatever style/order is provided in the source content.
        </li>
        <li>
            Greentext timestamps are given in hh:mm:ss, but unless two posts are made in the same minute, **do not
            include the second**.
        </li>
    </ul>
</description>

<format>
    *Image Transcription: Greentext*

    ---

    **Username**

    **Title**

    [*Description of image, if any.*]

    [*Description of any unusual text font, background images or color, etc.*]

    Plaintext.

    \>Greentext.

    \>Greentext.

    ---

    Next Post
</format>

<example-transcription
        img="../images/code_example2.png"
        alt="Image displaying multiple import statements
            with the wrong names. Tensorflow as sns, numpy as tf, pandas as np, etc."
        extraTitle="Code"
>
    <p>
    <pre>
            import tensorflow as sns
            import numpy as tf
            import pandas as np
            import matplotlib.pyplot as pd
            import seaborn as plt
        </pre>
    </p>
</example-transcription>

<build-page title="Code"></build-page>
</body>
</html>
