<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transcription Templates from TranscribersOfReddit</title>
    <script src="../static/vendored/tabler.min.js" defer></script>
    <link rel="stylesheet" href="../static/vendored/tabler.min.css">
    <script src="../static/my.js" defer></script>
    <link rel="stylesheet" href="../static/my.css">
    <script src="../static/vendored/toastify.min.js" defer></script>
    <link rel="stylesheet" href="../static/vendored/toastify.min.css">
</head>

<body>

<description>

</description>

<format>
    *Image Transcription: Code*

    ---

    ```
    code
    ```
</format>

<example-transcription
        img="../images/code_example2.png"
        alt="Image displaying multiple import statements
            with the wrong names. Tensorflow as sns, numpy as tf, pandas as np, etc."
        extraTitle="Code"
>
    <p>
        <pre>
            import tensorflow as sns
            import numpy as tf
            import pandas as np
            import matplotlib.pyplot as pd
            import seaborn as plt
        </pre>
    </p>
</example-transcription>

<build-page title="Code"></build-page>
</body>
</html>
