<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transcription Templates from TranscribersOfReddit</title>
    <script src="../static/vendored/tabler.min.js"></script>
    <link rel="stylesheet" href="../static/vendored/tabler.min.css">
    <script src="../static/my.js" defer></script>
    <link rel="stylesheet" href="../static/my.css">
</head>

<body>

<description>
    <p>
        Please attempt to give a general idea of what the image is. Add as much detail
        as you feel is necessary, but be descriptive. Imagine describing it to someone
        who can't see the picture.
    </p>
    <p><strong>NOTE: The template shows how to format the content, not which order you
        have to follow to transcribe a post!</strong> If you're not sure where to start,
        give a brief overview then consider what first drew your attention; that's
        probably a good place to start!
    </p>
</description>

<format>
    *Image Transcription:*

    ---

    [*Description of Image.*]
</format>

<example-image>
    ../images/cat_in_carrier_example.jpg
</example-image>

<transcription>
    Photo of a child wearing a backpack. The backpack is in the shape
    of a crewmate from 'Among Us' but has the color scheme of a Pokéball;
    the top is red and the bottom is white with a black strip horizontally
    through the middle. The middle part has a see-through sphere and inside
    is a real cat.
</transcription>

<build-page title="Art and Images without Text"></build-page>
</body>
</html>