<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transcription Templates from TranscribersOfReddit</title>
    <script src="../static/vendored/tabler.min.js"></script>
    <link rel="stylesheet" href="../static/vendored/tabler.min.css">
    <script src="../static/my.js" defer></script>
    <link rel="stylesheet" href="../static/my.css">
    <script src="../static/vendored/toastify.min.js" defer></script>
    <link rel="stylesheet" href="../static/vendored/toastify.min.css">
</head>

<body>

<description></description>

<format>
    *Image Transcription: Text and Image*

    ---

    [*Description of anything that you think may be worth describing about the image itself aside from what the text
    says. For example, an unusual text font, background images or color, etc.*]

    Text.

   NOTE: if your post has text above an image, transcribe the text before describing the image. Transcribe the text and
    image in the order they appear.
</format>

<example-transcription
        img="../images/text_and_images_example.png"
        alt="Image of a room full of white folding chairs with the following caption: Did any
            of u girls used to try and carry as many chairs as possible (to impress other girls),
            or are you straight?"
>
    <p>
        <em>Did any of u girls used to try and carry as many chairs as possible (to impress other girls), or are you
            straight?</em>
    </p>
    <p>
        [<em>Image of a room full of white folding chairs.</em>]
    </p>
</example-transcription>

<example-transcription
        img="../images/small_coffee_table_example.jpeg"
        alt="Image of a room full of white folding chairs with the following caption: Did any
            of u girls used to try and carry as many chairs as possible (to impress other girls),
            or are you straight?"
>
    <p>
        Told my husband I wanted a small coffee table. He said, he'd build me one. This is what I got.
    </p>
    <p>
        [<em>Image of a coffee table that is only big enough for one mug.
        It is elevated to hold the mug in with a section cut out for the handle.</em>]
    </p>
</example-transcription>

<build-page title="Images with Text"></build-page>
</body>
</html>
