<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transcription Templates from TranscribersOfReddit</title>
    <script src="../static/vendored/tabler.min.js"></script>
    <link rel="stylesheet" href="../static/vendored/tabler.min.css">
    <script src="../static/my.js" defer></script>
    <link rel="stylesheet" href="../static/my.css">
    <script src="../static/vendored/toastify.min.js" defer></script>
    <link rel="stylesheet" href="../static/vendored/toastify.min.css">
</head>

<body>

<description></description>

<format>
    *Image Transcription: Text and Image*

    ---

    [*Description of anything that you think may be worth describing about the image itself aside from what the text
    says. For example, an unusual text font, background images or color, etc.*]

    Text.

    NOTE: if your post has text above an image, transcribe the text before describing the image. Transcribe the text and
    image in the order they appear.
</format>

<example-image>
    ../images/text_and_images_example.png
</example-image>

<img-alt>
    Image of a room full of white folding chairs with the following caption: Did any of u girls used to try and carry as
    many chairs as possible (to impress other girls), or are you straight?
</img-alt>

<transcription>
    <p>
        <em>Did any of u girls used to try and carry as many chairs as possible (to impress other girls), or are you
            straight?</em>
    </p>
    <p>
        [<em>Image of a room full of white folding chairs.</em>]
    </p>
</transcription>

<build-page title="Images with Text"></build-page>
</body>
</html>
